@code{
    [Parameter]
    public int UserId { get; set; }
}
<link href="/layout.css" rel="stylesheet" />

<header class="topbar">
    <div class="brand">TaskManager</div>

    <input id="nav-toggle" type="checkbox" aria-label="Toggle navigation">
    <label class="burger" for="nav-toggle" aria-hidden="true">☰</label>

    <nav class="nav">
        <ul class="nav-links">
            <li><a href="/TheSystem/MainPage/@UserId">Ongoing Projects</a></li>
            <li><a href="#">Finished Projects</a></li>
            <li><a href="#">New Project</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="/TheSystem/Users">Users</a></li>
        </ul>
    </nav>
</header>


